@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Asterisk wildcard selector, override default styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Saved colorscheme:
Dark red	#420200

Medium dark	#890400

Strawberry red 	#E60800

Light red	#FFB7B7

Very light red	#ffeaea */

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Bricolage Grotesque", sans-serif;
}

h1,
h2 {
  font-family: "Shantell Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  color: #890400;
}

h3 {
  font-family: "Shantell Sans", sans-serif;
  font-style: italic;
  color: #890400;
}

p {
  padding-top: 0.6rem;
}

i {
  color: #890400;
}

/* Header styles */

/* Header image from Kindel Media:
https://www.pexels.com/sv-se/foto/bondgard-frukt-vaxter-jordgubbar-7457179/ */

#welcome-image {
  background: #ffeaea url("../images/welcome-image.webp") no-repeat top center /
    cover;
  height: 13rem;
  position: relative;
}

#welcome-text {
  position: absolute;
  bottom: 10%;
  right: 5%;
  text-align: center;
  background-color: #ffeaeace;
  border-radius: 1rem;
  color: #890400;
  padding: 0.8rem 1rem;
  margin-top: 0;
  font-weight: 500;
}

#welcome-text p {
  padding-bottom: 0;
  padding-top: 0;
}

.fa-face-grin-hearts {
  font-size: 100%;
}

header {
  width: 100%;
  background-color: #ffeaea;
  padding: 0 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0.2rem 0.2rem #890400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

.header-flex-container {
  display: flex;
  align-items: flex-start;
}

#logo-image {
  height: 2.5rem;
  width: 2.5rem;
  background: url(../images/logo-image.webp) no-repeat center center / cover;
}

.logo-text {
  line-height: 100%;
  font-size: 200%;
  padding: 0.5rem;
  margin-bottom: 0;
}

.hidden-text {
  display: none;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


#menu {
  font-size: 110%;
  letter-spacing: 1px;
  list-style-type: none;
}

#menu li {
  margin-bottom: 0.3rem;
}

a {
  color: #890400;
}

.active {
  border-bottom: 0.1rem solid #890400;
}

nav a:hover {
  color: #e60800;
  text-shadow: 0 0 1.5rem #e60800;
}

.active:hover {
  border-bottom: 0.1rem solid #e60800;
}

footer i:hover {
  color: #e60800;
  text-shadow: none;
}

/* Dropdown toggle for navigation bar menu */
nav {
  position: absolute;
  background-color: #ffeaea;
  width: 100%;
  padding: 0.2rem 1rem;
  box-shadow: 0 0.2rem 0.2rem #890400;
  left: 0;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

/* Main styles */

/* Gradient background created from 
https://mycolor.space/gradient?ori=to+right+top&hex=%23E60800&hex2=%23FFB7B7&sub=1 */

main {
  background-image: linear-gradient(
    to bottom,
    #ffb7b7,
    #ffb7b7,
    #ffb7b7,
    #ffa7a7,
    #ff9d9a,
    #ff837c,
    #fc675c,
    #f5493b,
    #e2372b,
    #ce221c,
    #bb000b,
    #9b000e,
    #7c000d,
    #5e0109,
    #420200
  );
  flex: 1 0 auto; /* makes sure footer is pushed down */
}

/* Main page */
.intro-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#intro-image {
  width: 90%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 15rem;
  border-radius: 1rem;
  background: url(../images/intro-image.webp) no-repeat center center / cover;
}

.intro-section-style {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #ffeaea9c;
  border-radius: 1rem;
  color: #890400;
  padding: 0.8rem 1rem;
  max-width: 32rem;
}

#internal-links {
  padding-right: 1rem;
}

#internal-links li {
  padding-right: 1.5rem;
  list-style-type: none;
}

#internal-links a {
  /* font-size: 90%; */
  letter-spacing: 1px;
}

#internal-links a:hover {
  color: #e60800;
  text-shadow: 0 0 1.5rem #e60800;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-section-style {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #ffeaea9c;
  border-radius: 1rem;
  color: #890400;
  padding: 0.8rem 1rem;
  max-width: 32rem;
}

.align-center {
  text-align: center;
}

.margin-above {
  margin-top: 2rem;
}

main h2 {
  font-size: 160%;
}

.light-color-text {
  color: #ffeaea;
}

.less-transparent-background {
  background-color: #ffeaeace;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.video-flex-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 1rem;
}

iframe {
  width: 90%;
  height: 315px;
  max-width: 560px;
  border: none;
}

/* Gallery page */
#photos img {
  width: 100%;
  line-height: 1rem;
  padding: 0.3rem;
}

#photos {
  line-height: 0;
  margin: 0.3rem;
}

/* About us page */
.about-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-flex-child {
  flex: 0;
  max-width: 30rem;
}

.img-flex-child {
  width: 90%;
  max-width: 27rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 15rem;
  border-radius: 1rem;
  background: url(../images/about-us.webp) no-repeat top center / cover;
}

.section-style {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  background-color: #ffeaea9c;
  border-radius: 1rem;
  color: #890400;
  padding: 0.8rem 1rem;
}

.space-above {
  margin-top: 0.6rem;
}

.space-above-seeds {
  margin-top: 0.4rem;
}

.section-style p:nth-child(4) {
  margin-bottom: -1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #890400;
  border-radius: 0.4rem;
  background-color: #ffeaea;
  color: #890400;
  margin: 0.2rem 0 0.4rem 0;
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid #e60800;
}

::placeholder {
  color: #890400;
}

.form-button {
  padding: 1rem 1.45rem;
  background-color: #890400;
  color: #ffeaea;
  border-radius: 0.4rem;
  margin-right: 0.6rem;
  font-family: "Shantell Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.form-button:hover {
  background-color: #ffeaea;
  color: #890400;
}

/* New member page */
#welcome-text .welcome-welcome {
  font-size: 160%;
}

#new-member-background {
  background: url("../images/welcome-background.webp") no-repeat bottom center /
    cover;
  height: 75vh;
  width: 100%;
  margin: 0;
  display: flex;
}

.welcome-section-style {
  margin: 6%;
  height: fit-content;
  width: 80%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffeaead8;
  border-radius: 1rem;
  color: #890400;
  padding: 0.8rem 1rem 0.6rem;
  text-align: center;
}

.welcome-section-style p {
  padding-bottom: 0.4rem;
  padding-top: 0;
  font-size: 110%;
}

/* Footer styles */
footer {
  background-color: #ffeaea;
  color: #fff;
  height: 4rem;
}

.footer-flex-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10%;
  font-size: 200%;
  height: 4rem;
  align-items: center;
}

/* Media query: 450px and up  */

@media screen and (min-width: 450px) {
  /* Header */
  #welcome-image {
    background-position: top -0.9rem center;
  }

  #welcome-text {
    right: 20%;
    font-size: 100%;
  }

  .hidden-text {
    display: block;
  }

  #logo-image {
    display: none;
  }

  .logo-text {
    padding: 0.5rem 0.3rem;
  }

  #photos {
    column-count: 2;
    gap: 0;
  }

  /* Main page */
  main h2 {
    font-size: 180%;
  }

  /* About us */
  .form-flex-container {
    display: flex;
    gap: 0.7rem;
    align-items: flex-end;
  }

  .space-above-seeds {
    padding-top: 1.2rem;
  }

  .form-flex-child {
    flex: 0;
    max-width: 30rem;
  }

  #fav-seeds,
  #f-name,
  #l-name,
  #email {
    width: 10.5rem;
  }
}

/* Media query: 768px and up (Tablets) */

@media screen and (min-width: 768px) {
  /* Header */
  #welcome-image {
    background-position: top -2.5rem center;
    height: 18rem;
  }

  #welcome-text {
    right: 20%;
    font-size: 150%;
    font-weight: 300;
  }

  .fa-face-grin-hearts {
    font-size: 90%;
  }

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    align-self: flex-end;
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #submenu {
    display: none;
  }

  /* Main page */
  .intro-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .intro-section-style {
    margin-left: 0;
    margin-right: auto;
    width: 60%;
    max-width: 28rem;
  }

  #intro-image {
    margin-left: auto;
    margin-right: 0;
    margin-right: 2rem;
    height: 20.6rem;
    max-width: 25%;
  }

  .main-flex-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 0;
    max-height: 58rem;
  }

  .main-section-style {
    width: 45%;
    max-width: 32rem;
  }

  .greenhouse-section-style {
    max-height: 58rem;
  }

  .force-right-column {
    order: 1;
  }

  .last-place {
    order: 2;
  }

  /* Gallery */
  #photos {
    column-count: 3;
    margin: 0.4rem;
  }
  #photos img {
    padding: 0.4rem;
  }

  /* About us */
  .form-flex-container {
    gap: 1.3rem;
  }

  /* Welcome page */
  .welcome-section-style {
    padding: 1.5rem 1.7rem 1rem;
  }
  .welcome-section-style p {
    font-size: 130%;
  }
}

/* Media query: 992px and up (Laptops) */
@media screen and (min-width: 992px) {
  /* Header */
  #welcome-image {
    background-position: top -3.5rem center;
    height: 21rem;
  }

  #welcome-text {
    right: 25%;
    font-size: 180%;
  }

  .logo-text {
    font-size: 230%;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  nav {
    font-size: 110%;
  }

  /* Main page */

  #intro-image {
    max-width: 25%;
  }

  .main-flex-container {
    max-height: 50rem;
    max-width: 90%;
  }

  /* About page */
  .about-flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 2rem;
  }

  .img-flex-child {
    margin-left: 0;
    margin-right: auto;
    order: 1;
    flex: 1 0;
    margin-right: 2rem;
    height: 43.7rem;
    max-width: 35rem;
  }

  .section-style {
    margin-left: auto;
    margin-right: 0;
  }

  .form-flex-child {
    flex: 0 1 30rem;
  }
}


/* Media query: 1200px and up (Desktop) */

@media screen and (min-width: 1200px) {
  /* Header */
  #welcome-image {
    background-position: top -4.5rem center;
    height: 24rem;
  }

  #welcome-text {
    font-size: 210%;
    font-weight: 200;
  }

  .fa-face-grin-hearts {
    font-size: 80%;
  }

  .logo-text {
    font-size: 240%;
    padding: 0.6rem 0 0.6rem 0.6rem;
  }

  nav {
    font-size: 120%;
  }

  /* Main page */
  .intro-flex-container {
    font-size: 115%;
  }
  .intro-section-style {
    max-width: 36rem;
  }

  #intro-image {
    height: 19rem;
    max-width: 25%;
  }

  .main-flex-container {
    max-height: 50rem;
    max-width: 80%;
  }

  .main-section-style {
    max-width: 42rem;
  }

  .greenhouse-section-style {
    max-height: 45rem;
  }

  /* Gallery */
  #photos {
    column-count: 4;
    margin: 0.5rem;
  }

  #photos img {
    padding: 0.5rem;
  }

  /* About page */
  #fav-seeds,
  #f-name,
  #l-name,
  #email {
    width: auto;
  }

  /* Welcome page */
  .welcome-section-style {
    padding: 1.8rem 2rem 1.3rem;
  }

  .welcome-section-style p {
    font-size: 150%;
  }
}

/* Media query: 1600px and up (Desktop) */

@media screen and (min-width: 1600px) {
  /* Header */
  #welcome-image {
    background-position: top -6rem center;
    height: 27rem;
  }

  #welcome-text {
    font-size: 240%;
  }

  #intro-image {
    max-width: 20%;
  }

  .main-flex-container {
    max-height: 45rem;
    max-width: 70%;
  }

  .greenhouse-section-style {
    max-height: 40rem;
  }
}

/* Media query: 1900px and up (Desktop) */

@media screen and (min-width: 1900px) {
  /* Header */
  #welcome-image {
    background-position: top -7rem center;
    height: 30rem;
  }

  .logo-text {
    font-size: 260%;
    padding: 0.6rem 0 0.6rem 0.6rem;
  }

  nav {
    font-size: 140%;
  }

  /* Main page */
  .intro-section-style {
    max-width: 36rem;
  }

  #intro-image {
    height: 19rem;
    max-width: 20%;
  }
}
