/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header styles */

header {
    background-color: red;
    width: 100%;
    color: aqua;
}


/* Main styles */

main {
    background-color: rgb(54, 145, 224);
    flex: 1 0 auto;
}


/* Footer styles */

footer {
    background-color: rgb(54, 33, 0);
}